.mainContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 812px;
    border: 1px white solid;
    border-radius: 10px;
}