.newHabitPage {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    width: 100%;
    box-sizing: border-box;
}

.habitIconSection {
    margin-right: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-top: 20px;
}

.title {
    font-size: 36px;
    font-weight: 800;
}

.backButton {
    margin-top: 62px;
    width: 30px;
    height: 44px;
    cursor: pointer;
}

.addButton {
    width: 150px;
    height: 150px;
    border-radius: 61px;
    background-color: #C9C2C3;
    color: #000;
    font-size: 128px;
    font-weight: 300;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addButton:active {
    outline: none;
}

.habitInfoSection {
    margin-top: 104px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.habitInfoTitle, .habitInfoSubtitle {
    font-size: 19px;
    font-weight: 800;
}

.pink {
    color: #C700FD;
}
