.calendar {
    width: 277px;
    height: max-content;
    margin-top: 25px;
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.days {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(7, auto);
    font-size: 20px;
}

.dates {
    display: grid;
    gap: 22px;
    font-size: 16px;
    grid-template-columns: repeat(7, auto);
}

.date {
    cursor: pointer;
}

.dateActive {
    background-color: #C600FD;
}

.weekend p {
    color: #C600FD;
}

.arrow {
    width: 15px;
    height: 22px;
    cursor: pointer;
}

.next {
    transform: rotate(180deg);
}